h1{
text-align: center;
background-color: aliceblue;
border: solid 7px #9e8585;
margin: 10px 10px;
font-style: oblique;
border-radius: 20px;
}




h2{

text-align: center;

}




.textoimagem{
border: solid;
border-color: aliceblue;    
display: inline-block;
position: relative;

}


#video{
    border: solid 5px;
border-color: #9e8585;    
display: inline-block;
position: relative;
border-radius: 20px;
 background-color: aliceblue;   
padding: 5px;
}

.tipos{
    text-align: left;

}

p{
text-align: center;
font-style:italic;
font-size: large;
}

h2{
    font-style:unset;
}






